<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strabismus Detection</title>
</head>
<body>
    <h1>Real-Time Base Strabismus Detection WebApp</h1>
    <img src="{{ url_for('strabismus.video_feed_route') }}" />

    <div id="report">Loading...</div>
    <div id="capture-alert" style="display: none;">
        {% if capture_alert_message %}
        {{ capture_alert_message }}
    {% else %}
        <!-- default message or no message -->
    {% endif %}</div>
     <!-- Add an Exit button here -->
     <button id="exit-button">Exit</button>
</body>
<script>
function fetchLatestReport() {
    fetch('/strabismus/get_latest_report')  // Added blueprint prefix
        .then(response => response.json())
        .then(data => {
            document.getElementById('report').innerText = data.report;
        });
}

setInterval(fetchLatestReport, 1000);
function showCaptureAlert(message) {
        var captureAlert = document.getElementById('capture-alert');
        captureAlert.innerHTML = message;
        captureAlert.style.display = 'block';

        // Automatically close the program after 5 seconds
        setTimeout(function() {
            window.location.href = "{{ url_for('strabismus.shutdown') }}";  // Modified line
        }, 5000);  // Adjust the timeout duration as needed
}
function initiateShutdown() {
    fetch('/strabismus/shutdown')
        .then(response => response.text())
        .then(data => {
            console.log(data);
            window.location.href = "/dashboard";
        });
}

// Add an event listener to the exit button
document.getElementById('exit-button').addEventListener('click', initiateShutdown);
</script>
</html>
