<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strabismus Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="bg-gradient-to-r from-[#8c1b26] to-[#104355]">

    <h1
        class="text-center px-5 py-3 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Real-Time Base Strabismus Detection WebApp</h1>
    <center>
        <img src="{{ url_for('strabismus.video_feed_route') }}" />

        <div id="report">Loading...</div>
        <div id="capture-alert" style="display: none;"></div>

        <button id="dashboard-button">Back to Dashboard</button>
    </center>
</body>
<script src="/static/strabismus.js"></script>

</html>