<!doctype html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <title>Login</title>
</head>
<body class="bg-gradient-to-r from-[#8c1b26] to-[#104355]  flex flex-col justify-center items-center h-screen py-5 dark:bg-gray-900">
<main class="w-full max-w-md mx-auto p-6 bg-gradient-to-r from-[#8c1b26] to-[#104355]  border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
  <div class="text-center mb-6">
      <!-- <a href="#" aria-label="Brand">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="w-52 h-20 object-contain mb-4">
      </a> -->
      <h1 class="text-4xl font-semibold text-gray-100 dark:text-white mb-4">Insight-Eye Login</h1>
      <p class="text-sm text-gray-300 dark:text-gray-300 mb-4">
        Don't have an account yet? 
        <a href="/register" class="text-gray-200 font-extrabold hover:underline">Sign up here</a>
      </p>
  </div>
    
  <!-- Flash Messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="my-4 px-4 py-2 rounded-md bg-red-50 text-red-600">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <!-- End Flash Messages -->
    
  <form method="POST" class="space-y-6">
      <div class="flex flex-col">
        <label for="username" class="text-sm text-gray-100 dark:text-gray-300 mb-1">Username</label>
        <input type="text" id="username" name="username" class="py-2 px-4 border border-gray-300 rounded-md bg-gray-50 dark:bg-gray-700 dark:text-white dark:border-gray-600" required>
      </div>
      <div class="flex flex-col">
        <label for="password" class="text-sm text-gray-100 dark:text-gray-300 mb-1">Password</label>
        <input type="password" id="password" name="password" class="py-2 px-4 border border-gray-300 rounded-md bg-gray-50 dark:bg-gray-700 dark:text-white dark:border-gray-600" required>
      </div>
      <button type="submit" class="w-full py-2 px-4 bg-[#158da2] text-white rounded-md hover:bg-[#158da2] transition duration-300 ease-in-out">Login</button>
  </form>
  <footer class="mt-8 text-center text-sm text-gray-200 dark:text-gray-100">
    <a href="#" class="hover:underline">Privacy Policy</a> | <a href="#" class="hover:underline">Terms of Service</a>
  </footer>
</main>
</body>
</html>
