<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strabismus Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <style>
        .animation-container {
            overflow: hidden;
            position: relative;
        }

        .text-animation {
            animation: slideIn 3s ease-in-out 1;
        }

        @keyframes slideIn {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(0);
            }
        }
    </style>
</head>

<body class="bg-gradient-to-r from-[#8c1b26] to-[#104355]">
    <!-- <div
        class="text-center px-5 py-3 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Real-Time Base Strabismus Detection WebApp <span class="typing"></span>
    </div> -->

    <div class="bg-gradient-to-r from-[#8c1b26] to-[#104355]">
        <div class="bg-gradient-to-r from-[#8c1b26] to-[#104355]">
            <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
                <div class="max-w-3xl text-center mx-auto animation-container">
                    <h1
                        class="block font-medium text-gray-100 text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-animation">
                        Strabismus Eye Assessment
                    </h1>
                </div>

                <div class="max-w-3xl text-center mx-auto">
                    <p class="text-lg text-gray-400">
                        Strabismus — also known as hypertropia and crossed eyes — is misalignment of the eyes, causing
                        one eye to deviate inward (esotropia) toward the nose, or outward (exotropia), while the other
                        eye remains focused. Misalignment can occur once in a while in newborns, especially if they are
                        tired, but they should outgrow it by three months of age. In children, uncorrected strabismus
                        can lead to amblyopia, a condition in which the brain starts to ignore signals sent by the
                        weaker, misaligned eye that leads to vision problems.
                        <br>
                        In some children, strabismus is one of several manifestations of other medical conditions,
                        including traumatic brain injury, retinopathy of prematurity, retinoblastoma, cerebral palsy and
                        others.
                    </p>
                </div>

                <div class="flex justify-center">
                    <a class="group inline-block bg-white/[.05] hover:bg-white/[.1] border border-white/[.05] p-1 pl-4 rounded-full shadow-md"
                        href="/">
                        <p class="mr-2 inline-block text-white text-sm">
                            Insight-Eye: A Smart System for Real-Time Eyesight Health Assessment using Computer Vision
                            and NLP
                        </p>
                        <span
                            class="group-hover:bg-white/[.1] py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full bg-white/[.075] font-semibold text-white text-sm">
                            <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path
                                    d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                            </svg>
                        </span>
                    </a>
                </div>

                <div class="text-center">
                    <a id="strabismusTest"
                        class="inline-flex justify-center items-center gap-x-3 text-center bg-[#158da2] shadow-lg shadow-transparent hover:shadow-blue-700/50 border border-transparent text-white text-sm font-medium rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white py-3 px-6 dark:focus:ring-offset-gray-800"
                        href="/strabismus">
                        TEST NOW 
                        <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path
                                d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!-- <center class="text-white">
            <img src="{{ url_for('strabismus.video_feed_route') }}" />

            <div id="report">Loading...</div>
            <div id="capture-alert" style="display: none;"></div>

            <button id="dashboard-button" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-[#158da2] rounded-lg hover:bg-[#158da2] focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">Back to Dashboard</button>
        </center> -->
    </div>

</body>
<script src="/static/strabismus.js"></script>

</html>