.container {
    display: flex;
    justify-content: space-between;
}

.snellen-chart {
    width: 50%;
}

.webcam-feed {
    width: 50%;
}

#word-display {
    font-size: 2em;
    margin-bottom: 20px;
}

#word-input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
}

#verify-button {
    padding: 10px;
    font-size: 1em;
}
